.contact {
  height: 79vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3.3rem;
  font-size: 1.2rem;
}

.contact h1 {
  font-size: 1.6rem;
}

.contact .c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.1rem;
  -webkit-transition: font-weight 0.15s;
  transition: font-weight 0.15s;
}

.contact .c:hover {
  font-weight: bold;
  -webkit-transition: font-weight 0.15s;
  transition: font-weight 0.15s;
}

.contact .c:hover i {
  color: var(--third);
}
/*# sourceMappingURL=Contact.css.map */