.paginator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  position: relative;
  top: -2rem;
}

.paginator .page-number {
  color: var(--black);
  background-color: #a5a5a5;
  width: 2rem;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.paginator .page-number:hover {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background-color: #f1f1f1;
  color: #202020;
}

.paginator .clicked {
  background-color: #fff;
}
/*# sourceMappingURL=Paginator.css.map */