.paginator {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    position: relative;
    top:-2rem;
    .page-number {
        color: var(--black);
        background-color: #a5a5a5;
        width: 2rem;
        text-align: center;
        cursor: pointer;
        transition: all 0.2s;
        &:hover {
            transition: all 0.2s;
            background-color: #f1f1f1;
            color: #202020;
        }
    }
    .clicked{
        background-color: #fff;
    }
}
