.logo {
    min-height: 20vh;
    display: grid;
    place-items: center;
    background-size: cover;
    background-position: center;
    .logo-img {
        padding:2rem 0 0 0;
        width: clamp(10rem, 30vw, 18rem);
        height: auto;
        object-fit: contain;
    }
}
