.prologue {
  padding: 0 0 5rem 0;
}

.prologue h1 {
  margin: 0 0 3rem 0;
}

.prologue .PRimages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
  width: 85vw;
  margin: 0 auto;
}

.prologue .PRimages .img-container {
  overflow: hidden;
  height: 40vh;
  width: 14rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.prologue .PRimages .img-container img {
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}

.prologue .filters {
  font-size: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  padding: 3rem 0;
}

.prologue .filters .top {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.5rem;
}

.prologue .filters i {
  font-size: 1.2rem;
}

.prologue .filters .types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

@media only screen and (max-width: 768px) {
  .prologue .filters .types {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.prologue .filters h2 {
  cursor: pointer;
}

.prologue .fullImg .carousel-root {
  z-index: 40;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 99vw;
  margin: auto;
  overflow-x: hidden;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(20, 20, 20, 0.842);
}

.prologue .fullImg .carousel-root .carousel {
  display: none;
}

.prologue .fullImg .carousel-root .carousel-slider {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.prologue .fullImg .carousel-root .carousel-slider .slider-wrapper {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.prologue .fullImg .carousel-root .carousel-slider .slider-wrapper .img {
  height: 90vh;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}

.prologue .fullImg .carousel-root .slider .animated {
  display: none;
}

.prologue .fullImg .carousel-root .carousel-status,
.prologue .fullImg .carousel-root .control-dots,
.prologue .fullImg .carousel-root .thumbs-wrapper {
  display: none;
}

@media only screen and (max-width: 600px) {
  .prologue .fullImg .carousel-root {
    position: relative;
    height: 80vh;
    overflow: hidden;
  }
  .prologue .fullImg .carousel-root .carousel-slider .slider-wrapper .slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .prologue .fullImg .carousel-root .carousel-slider .slider-wrapper .img {
    height: auto;
    width: 80vw;
  }
}

.prologue .fullImg .fa-times {
  color: #858585;
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  padding: 0.75rem;
  font-size: 1.3rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

.prologue .fullImg .fa-times:hover {
  color: #d3d3d3;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media only screen and (max-width: 680px) {
  .prologue .fullImg .fa-times {
    display: none;
  }
}
/*# sourceMappingURL=Prologue.css.map */