  
.prologue{
    h1{
        margin:0 0 3rem 0;
    }  
    padding: 0 0 5rem 0;
    .PRimages {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        width:85vw;
        margin:0 auto;
        .img-container {
            overflow: hidden;
            height: 40vh;
            width: 14rem;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                object-fit: contain;
                cursor: pointer;
            }
        }
    }
    
    .filters {
        font-size: 0.75rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 3rem 0;
        .top {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
        }
        i {
            font-size: 1.2rem;
        }
        .types {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            @media only screen and (max-width: 768px) {
                flex-direction: column;
            }
        }
        h2 {
            cursor: pointer;
        }
    }
    
    .fullImg{
        .carousel-root {
            z-index: 40;
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 99vw;
            margin: auto;
            overflow-x: hidden;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgba(20, 20, 20, 0.842);
            .carousel {
                display: none;
            }
            .carousel-slider {
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                .slider-wrapper {
                    padding: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .img {
                        height: 90vh;
                        width: auto;
                        object-fit: contain;
                        cursor: pointer;
                    }
                }
            }
            .slider .animated {
                display: none;
            }
        
            .carousel-status,
            .control-dots,
            .thumbs-wrapper {
                display: none;
            }
            @media only screen and (max-width: 600px) {
                position: relative;
                height: 80vh;
                overflow: hidden;
                .carousel-slider {
                    .slider-wrapper {
                        .slider{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                        .img {
                            height: auto;
                            width: 80vw;
                        }
                    }
                }
            }
        }
        .fa-times {
            color: #858585;
            z-index: 100;
            position: fixed;
            top: 0;
            right: 0;
            padding: 0.75rem;
            font-size: 1.3rem;
            transition: all 0.5s;
            cursor: pointer;
            &:hover {
                color: #d3d3d3;
                transition: all 0.3s;
            }
            @media only screen and (max-width: 680px) {
                display: none;
            }
        }
    }
}
