div {
    h1 {
        margin: 2rem;
    }
    .images {
        div {
            overflow: hidden;
            img {
                width: 100%;
                height: 50vh;
                object-fit: cover;
                cursor: pointer;
                overflow: hidden;
                transform: scale(1.3);
                transition: transform 0.4s;
                &:hover {
                    transition: transform 0.4s;
                    transform: scale(1);
                }
            }
        }
    }
}
