.videos {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    margin: 0 auto;
    .video-wrap {
        max-width: 949px;
        width: 100%;
        margin: 0 auto;
        padding:2rem;
    }

    .video-container {
        position: relative;
        padding-bottom: 56.25%;

        height: 0;
        overflow: hidden;
    }

    .video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
