.videos {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:2rem;
    .video {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50vw;
        height:30rem;
        background: #000;
        position: relative;
        iframe{
            position: relative;
            object-fit: contain;
            height: 100%;
            width: 100%;
        }
    }
}
