.email {
  background: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 20;
}

.email i {
  color: var(--third);
  font-size: clamp(1.1rem, 8vw, 3rem);
  cursor: pointer;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 10;
}

.email i:hover {
  color: #88ddc1;
}

.email form {
  min-height: calc(40vh - 5vw);
  min-width: clamp(15rem, 60vw, 20rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}

.email form input, .email form textarea {
  border: none;
  border-bottom: 2px solid var(--third);
  color: #3694eb;
  background-color: transparent;
  font-size: .8rem;
  resize: none;
}

.email form input:focus, .email form textarea:focus {
  outline: none;
  background-color: transparent;
}

.email form button {
  padding: .6rem 1.1rem;
  background-color: var(--third);
  border: none;
  border-radius: 7px;
  font-size: 1rem;
  cursor: pointer;
  color: #fff;
}

.email form button:hover {
  outline: 1px solid #fff;
}
/*# sourceMappingURL=Email.css.map */