.email {
    background: rgb(224, 224, 224);
    border-radius: 10px;
    overflow: hidden;
    position: fixed;
    bottom:25px;
    right: 25px;
    z-index: 20;
    i{
        color: var(--third);
        font-size: clamp(1.1rem, 8vw, 3rem);
        cursor: pointer;
        position: fixed;
        bottom: 15px;
        right: 15px;
        z-index: 10;
        &:hover{
            color: hsl(160, 55%, 70%);
        }
    }
    form{
        min-height: calc(40vh - 5vw);
        min-width: clamp(15rem, 60vw, 20rem);
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        padding:1rem;
        input, textarea{
            border: none;
            border-bottom: 2px solid var(--third);
            color:#3694eb;
            background-color: transparent;
            font-size: .8rem;
            resize: none;
            &:focus{
                outline:none;
                background-color: transparent;
            }
        }
        button{
            padding: .6rem 1.1rem;
            background-color: var(--third);
            border:none;
            border-radius: 7px;
            font-size: 1rem;
            cursor: pointer;
            color:#fff;
            &:hover{
                outline:1px solid #fff;
            }
        }
    }
}
