.socials{
    display: grid;
    place-items: center;
    min-height: 25vh;
    padding:2rem 0;
    margin:1rem 0 0 0;
    .logos{
        font-size: 2.5rem;
        i{
            margin:1rem;
            cursor: pointer;
        }
    }
}