.logos {
    text-align: center;
    i {
        padding: 0 1rem;
        cursor: pointer;
        transition: color 0.3s;
        &:hover {
            transition: color 0.3s;
            color: var(--third);
        }
    }
}
