.images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-flex-pack: distribute;
      justify-content: space-around;
  place-items: center;
  gap: 1rem;
  margin: 0 2.4rem;
}

@media only screen and (max-width: 1660px) {
  .images {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
}

@media only screen and (max-width: 1410px) {
  .images {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 940px) {
  .images {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.images .img-container {
  overflow: hidden;
  height: 40vh;
  width: 16rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1410px) {
  .images .img-container {
    height: 38vh;
    width: 17rem;
  }
}

@media only screen and (max-width: 1205px) {
  .images .img-container {
    height: 35vh;
    width: 15rem;
  }
}

@media only screen and (max-width: 1080px) {
  .images .img-container {
    height: 38vh;
    width: 13rem;
  }
}

@media only screen and (max-width: 940px) {
  .images .img-container {
    height: 36vh;
    width: 15.5rem;
  }
}

.images .img-container img {
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}

.filters {
  font-size: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  padding: 3rem 0;
}

.filters .top {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.5rem;
}

.filters i {
  font-size: 1.2rem;
}

.filters .types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

@media only screen and (max-width: 768px) {
  .filters .types {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.filters h2 {
  cursor: pointer;
}

.fullImg .carousel-root {
  z-index: 40;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 99vw;
  margin: auto;
  overflow-x: hidden;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(20, 20, 20, 0.842);
}

.fullImg .carousel-root .carousel {
  display: none;
}

.fullImg .carousel-root .carousel-slider {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fullImg .carousel-root .carousel-slider .slider-wrapper {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fullImg .carousel-root .carousel-slider .slider-wrapper .img {
  height: 90vh;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}

.fullImg .carousel-root .slider .animated {
  display: none;
}

.fullImg .carousel-root .carousel-status,
.fullImg .carousel-root .control-dots,
.fullImg .carousel-root .thumbs-wrapper {
  display: none;
}

@media only screen and (max-width: 600px) {
  .fullImg .carousel-root {
    position: relative;
    height: 80vh;
    overflow: hidden;
  }
  .fullImg .carousel-root .carousel-slider .slider-wrapper .slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .fullImg .carousel-root .carousel-slider .slider-wrapper .img {
    height: auto;
    width: 80vw;
  }
}

.fullImg .fa-times {
  color: #858585;
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  padding: 0.75rem;
  font-size: 1.3rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

.fullImg .fa-times:hover {
  color: #d3d3d3;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media only screen and (max-width: 680px) {
  .fullImg .fa-times {
    display: none;
  }
}
/*# sourceMappingURL=Gallery.css.map */