.gallery h1 {
  margin: 2rem 0 .5rem 0;
}

.images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.2rem;
  padding: 3rem 0 2rem 0;
  position: relative;
  top: -2rem;
}

.images .img-container {
  overflow: hidden;
  height: 20rem;
  width: 14rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.images .img-container img {
  height: 110%;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.images .img-container img:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.filters {
  font-size: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  padding: 2rem 0 0 0;
  overflow: hidden;
  -webkit-transition: min-height .3s;
  transition: min-height .3s;
  -webkit-transition: height .3s;
  transition: height .3s;
}

.filters .top {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.5rem;
  font-size: .95rem;
}

.filters i {
  font-size: 1.2rem;
}

.filters .types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

@media only screen and (max-width: 768px) {
  .filters .types {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.filters .filt {
  cursor: pointer;
  font-size: 400;
  -webkit-transition: border-bottom .2s;
  transition: border-bottom .2s;
}

.filters .filt:hover {
  border-bottom: 1px solid #fff;
  -webkit-transition: border-bottom .2s;
  transition: border-bottom .2s;
}

.show {
  -webkit-transition: min-height .3s;
  transition: min-height .3s;
  -webkit-transition: height .3s;
  transition: height .3s;
  min-height: 10vh;
}

.hide {
  -webkit-transition: min-height .3s;
  transition: min-height .3s;
  -webkit-transition: height .3s;
  transition: height .3s;
  height: 0;
  display: none;
}

.fullImg .carousel-root {
  z-index: 40;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 99vw;
  margin: auto;
  overflow-x: hidden;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(20, 20, 20, 0.842);
}

.fullImg .carousel-root .carousel {
  display: none;
}

.fullImg .carousel-root .carousel-slider {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fullImg .carousel-root .carousel-slider .slider-wrapper {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fullImg .carousel-root .carousel-slider .slider-wrapper .img {
  height: 90vh;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}

.fullImg .carousel-root .slider .animated {
  display: none;
}

.fullImg .carousel-root .carousel-status,
.fullImg .carousel-root .control-dots,
.fullImg .carousel-root .thumbs-wrapper {
  display: none;
}

@media only screen and (max-width: 600px) {
  .fullImg .carousel-root {
    position: relative;
    height: 80vh;
    overflow: hidden;
  }
  .fullImg .carousel-root .carousel-slider .slider-wrapper .slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .fullImg .carousel-root .carousel-slider .slider-wrapper .img {
    height: auto;
    width: 80vw;
  }
}

.fa-times {
  color: #858585;
  z-index: 12000;
  position: fixed;
  top: 0;
  right: 0;
  padding: 0.75rem;
  font-size: 1.3rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

.fa-times:hover {
  color: #d3d3d3;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media only screen and (max-width: 680px) {
  .fa-times {
    display: none;
  }
}
/*# sourceMappingURL=Gallery.css.map */