@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--white);
    font-family: "Poppins", sans-serif;
    font-style: italic;
}
:root {
    --black: #1f1f1f;
    --white: #dadada;
    --third: #4ecca3;
}
.App {
    background: var(--black);
    overflow-x: hidden;
    color: #fafafa;
    min-height: 100vh;
    letter-spacing: 1.5px;
}
h1 {
    text-align: center;
    font-size: clamp(1rem, 10vw, 2rem);
}
i {
    font-size: clamp(1rem, 10vw, 1.75rem);
}
.p{
    padding:2rem 0;
}
a{
    text-decoration: none;
}