@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: var(--white);
  font-family: 'Poppins', sans-serif;
  font-style: italic;
}

:root {
  --black: #080808;
  --white: #d9d9d9;
}

.App {
  background: var(--black);
  overflow-x: hidden;
  color: #fafafa;
}

.logo {
  min-height: 20vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.logo .logo-img {
  width: 10rem;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.contact {
  min-height: 25vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
  color: #fafafa;
  padding: 1rem 0;
}

.contact h1 {
  font-size: 1.5rem;
}

.contact .logos {
  text-align: center;
}

.contact .logos i {
  font-size: 2.5rem;
  padding: 0 1rem;
  cursor: pointer;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}

.gallery h1 {
  margin: 0 0 1.5rem 0;
}

.gallery div {
  padding: 1.5rem 0;
}

.gallery .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
}

.gallery img {
  z-index: 30;
  width: clamp(10rem, 15vw, 12rem);
  height: auto;
  margin: 0.75rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

.gallery img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.gallery .carousel-root {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(20, 20, 20, 0.842);
}

.gallery .carousel-root .carousel {
  display: none;
}

.gallery .carousel-root .carousel-slider {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: red;
}

.gallery .carousel-root .carousel-slider .slider-wrapper {
  padding: 0;
  background: yellow;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery .carousel-root .carousel-slider .slider-wrapper .img {
  height: 90vh;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}

.gallery .carousel-root .slider .animated {
  display: none;
}

.gallery .carousel-root .carousel-status,
.gallery .carousel-root .control-dots,
.gallery .carousel-root .thumbs-wrapper {
  display: none;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 85vw;
  margin: auto;
}

.about .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
}

.about .bottom .text p {
  margin: 0 0 .75rem 0;
  font-weight: bold;
}

.about .bottom .own-portriat {
  width: 20rem;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.socials {
  display: -ms-grid;
  display: grid;
  place-items: center;
  min-height: 25vh;
  padding: 2rem 0;
  margin: 1rem 0 0 0;
}

.socials .logos {
  font-size: 2.5rem;
}

.socials .logos i {
  margin: 1rem;
  cursor: pointer;
}

.partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
}

.partners .cegek {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20rem;
  margin: 1rem 0 0 0;
}

.partners .cegek .ceg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.partners .cegek .ceg:nth-child(2) {
  position: relative;
  left: 70px;
}

.partners .cegek img {
  height: 6rem;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
/*# sourceMappingURL=Main.css.map */