@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: var(--white);
  font-family: "Poppins", sans-serif;
  font-style: italic;
}

:root {
  --black: #1f1f1f;
  --white: #dadada;
  --third: #4ecca3;
}

.App {
  background: var(--black);
  overflow-x: hidden;
  color: #fafafa;
  min-height: 100vh;
  letter-spacing: 1.5px;
}

h1 {
  text-align: center;
  font-size: clamp(1rem, 10vw, 2rem);
}

i {
  font-size: clamp(1rem, 10vw, 1.75rem);
}

.p {
  padding: 2rem 0;
}

a {
  text-decoration: none;
}

.logo {
  cursor: pointer;
  height: auto;
  width: clamp(7rem, 20vw, 12rem);
}

.logos {
  text-align: center;
}

.logos i {
  padding: 0 1rem;
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.logos i:hover {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  color: var(--third);
}

.contact {
  height: 79vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3.3rem;
  font-size: 1.2rem;
}

.contact h1 {
  font-size: 1.6rem;
}

.contact .c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.1rem;
  -webkit-transition: font-weight 0.15s;
  transition: font-weight 0.15s;
}

.contact .c:hover {
  font-weight: bold;
  -webkit-transition: font-weight 0.15s;
  transition: font-weight 0.15s;
}

.contact .c:hover i {
  color: var(--third);
}

.gallery h1 {
  margin: 2rem 0 .5rem 0;
}

.images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.2rem;
  padding: 3rem 0 2rem 0;
  position: relative;
  top: -2rem;
}

.images .img-container {
  overflow: hidden;
  height: 20rem;
  width: 14rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.images .img-container img {
  height: 110%;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.images .img-container img:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.filters {
  font-size: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  padding: 2rem 0 0 0;
  overflow: hidden;
  -webkit-transition: min-height .3s;
  transition: min-height .3s;
  -webkit-transition: height .3s;
  transition: height .3s;
}

.filters .top {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.5rem;
  font-size: .95rem;
}

.filters i {
  font-size: 1.2rem;
}

.filters .types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

@media only screen and (max-width: 768px) {
  .filters .types {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.filters .filt {
  cursor: pointer;
  font-size: 400;
  -webkit-transition: border-bottom .2s;
  transition: border-bottom .2s;
}

.filters .filt:hover {
  border-bottom: 1px solid #fff;
  -webkit-transition: border-bottom .2s;
  transition: border-bottom .2s;
}

.show {
  -webkit-transition: min-height .3s;
  transition: min-height .3s;
  -webkit-transition: height .3s;
  transition: height .3s;
  min-height: 10vh;
}

.hide {
  -webkit-transition: min-height .3s;
  transition: min-height .3s;
  -webkit-transition: height .3s;
  transition: height .3s;
  height: 0;
  display: none;
}

.fullImg .carousel-root {
  z-index: 40;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 99vw;
  margin: auto;
  overflow-x: hidden;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(20, 20, 20, 0.842);
}

.fullImg .carousel-root .carousel {
  display: none;
}

.fullImg .carousel-root .carousel-slider {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fullImg .carousel-root .carousel-slider .slider-wrapper {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fullImg .carousel-root .carousel-slider .slider-wrapper .img {
  height: 90vh;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}

.fullImg .carousel-root .slider .animated {
  display: none;
}

.fullImg .carousel-root .carousel-status,
.fullImg .carousel-root .control-dots,
.fullImg .carousel-root .thumbs-wrapper {
  display: none;
}

@media only screen and (max-width: 600px) {
  .fullImg .carousel-root {
    position: relative;
    height: 80vh;
    overflow: hidden;
  }
  .fullImg .carousel-root .carousel-slider .slider-wrapper .slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .fullImg .carousel-root .carousel-slider .slider-wrapper .img {
    height: auto;
    width: 80vw;
  }
}

.fa-times {
  color: #858585;
  z-index: 12000;
  position: fixed;
  top: 0;
  right: 0;
  padding: 0.75rem;
  font-size: 1.3rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

.fa-times:hover {
  color: #d3d3d3;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media only screen and (max-width: 680px) {
  .fa-times {
    display: none;
  }
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 80vw;
  margin: auto;
}

.about .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
  padding: 4rem 0;
}

@media only screen and (max-width: 1024px) {
  .about .bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
    margin: 0 0 5rem 0;
  }
}

.about .bottom .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about .bottom .text p {
  line-height: 30px;
  margin: 0 0 0.75rem 0;
  font-weight: bold;
  font-size: clamp(0.8rem, 2vw, 1rem);
}

.about .bottom .text .hr {
  width: 85%;
  margin: 0 auto;
  background-color: #fafafa;
  height: 1px;
  margin: 0 0 13px 0;
}

.about .bottom .own-portrait {
  width: clamp(17rem, 20vw, 35rem);
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 20px;
}

.socials {
  display: -ms-grid;
  display: grid;
  place-items: center;
  min-height: 25vh;
  padding: 2rem 0;
  margin: 1rem 0 0 0;
}

.partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
}

.partners .cegek {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20rem;
  margin: 1rem 0 0 0;
}

.partners .cegek .ceg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.partners .cegek .ceg:nth-child(2) {
  position: relative;
  left: 70px;
}

.partners .cegek img {
  height: 6rem;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.email {
  background: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 20;
}

.email i {
  color: var(--third);
  font-size: clamp(1.1rem, 8vw, 3rem);
  cursor: pointer;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 10;
}

.email i:hover {
  color: #88ddc1;
}

.email form {
  min-height: calc(40vh - 5vw);
  min-width: clamp(15rem, 60vw, 20rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}

.email form input, .email form textarea {
  border: none;
  border-bottom: 2px solid var(--third);
  color: #3694eb;
  background-color: transparent;
  font-size: .8rem;
  resize: none;
}

.email form input:focus, .email form textarea:focus {
  outline: none;
  background-color: transparent;
}

.email form button {
  padding: .6rem 1.1rem;
  background-color: var(--third);
  border: none;
  border-radius: 7px;
  font-size: 1rem;
  cursor: pointer;
  color: #fff;
}

.email form button:hover {
  outline: 1px solid #fff;
}

.nav {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  min-height: 11vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% auto auto 5%;
      grid-template-columns: 5% auto auto 5%;
      grid-template-areas: ". logo links .";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 3px 6px -2px var(--black);
          box-shadow: 0 3px 6px -2px var(--black);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 4;
  color: var(--white);
  padding: 2rem 0 0 0;
}

@media only screen and (max-width: 850px) {
  .nav {
    -ms-grid-columns: 1em auto 1fr auto 1em;
        grid-template-columns: 1em auto 1fr auto 1em;
        grid-template-areas: ". logo . menu-icon .";
  }
}

.nav .logo {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: logo;
  margin: 0 auto 0 0;
}

.nav .logo img {
  cursor: pointer;
  width: 9rem;
}

.nav .nav-menu {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: links;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  position: relative;
}

.nav .nav-menu .nav-link {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: clamp(1rem, 4vw, 1.2rem);
  -webkit-transition: border-bottom 0.1s ease-in-out;
  transition: border-bottom 0.1s ease-in-out;
}

.nav .nav-menu .nav-link:hover {
  -webkit-transition: border-bottom 0.1s ease-in-out;
  transition: border-bottom 0.1s ease-in-out;
  border-bottom: 3px solid #eee;
}

@media only screen and (max-width: 850px) {
  .nav .nav-menu {
    opacity: 1;
    height: 54vh;
    width: 100vw;
    top: 0;
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 0;
    padding: 100px 0;
    left: -1000px;
    background-color: #363636f3;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .nav .nav-menu .nav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 1rem 0;
  }
  .nav .nav-menu .nav-link:hover {
    border: none;
  }
}

.nav .active {
  opacity: 1;
  left: 0;
  -webkit-transition: left 0.2s ease-in-out;
  transition: left 0.2s ease-in-out;
}

.nav .menu-icon {
  cursor: pointer;
  z-index: 5;
  display: none;
  font-size: 30px;
  grid-area: menu-icon;
  position: relative;
  top: 0;
  right: 20px;
}

@media only screen and (max-width: 850px) {
  .nav .menu-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
  }
}

.videos {
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  margin: 0 auto;
}

.videos .video-wrap {
  max-width: 949px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

.videos .video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.videos .video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.paginator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  position: relative;
  top: -2rem;
}

.paginator .page-number {
  color: var(--black);
  background-color: #a5a5a5;
  width: 2rem;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.paginator .page-number:hover {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background-color: #f1f1f1;
  color: #202020;
}

.paginator .clicked {
  background-color: #fff;
}

.mobileGallery {
  position: relative;
  bottom: 4rem;
}

.mobileGallery .carousel-root {
  min-height: 40vh;
  width: 98vw;
  overflow-x: hidden;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin: 0 auto;
}

.mobileGallery .carousel-root .carousel {
  display: none;
}

.mobileGallery .carousel-root .carousel-slider {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mobileGallery .carousel-root .carousel-slider .slider-wrapper {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mobileGallery .carousel-root .carousel-slider .slider-wrapper .img {
  height: 50vh;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
  padding: 0 2rem;
}

.mobileGallery .carousel-root .slider .animated {
  display: none;
}

.mobileGallery .carousel-root .carousel-status,
.mobileGallery .carousel-root .control-dots,
.mobileGallery .carousel-root .thumbs-wrapper {
  display: none;
}
/*# sourceMappingURL=Main.css.map */