@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: var(--white);
  font-family: "Poppins", sans-serif;
  font-style: italic;
}

:root {
  --black: #131313;
  --white: #d9d9d9;
  --third: #4ecca3;
}

.App {
  background: var(--black);
  overflow-x: hidden;
  color: #fafafa;
}

h1 {
  text-align: center;
  font-size: clamp(1rem, 10vw, 1.75rem);
}

i {
  font-size: clamp(1rem, 10vw, 1.75rem);
}

.logo {
  min-height: 20vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-size: cover;
  background-position: center;
}

.logo .logo-img {
  padding: 2rem 0 0 0;
  width: clamp(10rem, 30vw, 18rem);
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.logos {
  text-align: center;
}

.logos i {
  padding: 0 1rem;
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.logos i:hover {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  color: var(--third);
}

.contact {
  min-height: 25vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
  color: #fafafa;
  padding: 1rem 0;
}

.contact h1 {
  font-size: 1.2rem;
}

/* .gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: auto;
    h1 {
        margin: 0 0 1.5rem 0;
    }
    div {
        padding: 1.5rem 0;
    }
    .images {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        margin: auto;
        height: auto;
        @media only screen and (max-width: 1320px) {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            justify-content: center;
            align-items: center;
        }
        @media only screen and (max-width: 940px) {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-auto-rows: minmax(min-content, max-content);
            justify-content: center;
            align-items: center;
        }
        @media only screen and (max-width: 720px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            justify-content: center;
            align-items: center;
        }
        @media only screen and (max-width: 720px) {
            display: none;
        }
    }
    img {
        z-index: 30;
        width: clamp(9.5rem, 15.5vw, 11.5rem);
        @media only screen and (max-width: 940px) {
            width: clamp(12rem, 19vw, 16rem);
        }
        @media only screen and (max-width: 720px) {
            width: clamp(14rem, 29vw, 27rem);
        }
        height: auto;
        margin: 0.75rem;
        transition: all 0.3s;
        cursor: pointer;
        &:hover {
            transform: scale(1.1);
            transition: all 0.3s;
        }
    }
    .carousel-root {
        z-index: 40;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        overflow-x: hidden;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(20, 20, 20, 0.842);
        .carousel {
            display: none;
        }
        .carousel-slider {
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            .slider-wrapper {
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                .img {
                    height: 90vh;
                    width: auto;
                    object-fit: contain;
                    cursor: pointer;
                }
            }
        }
        .slider .animated {
            display: none;
        }

        .carousel-status,
        .control-dots,
        .thumbs-wrapper {
            display: none;
        }
    }
    .fa-times {
        color: #858585;
        z-index: 100;
        position: fixed;
        top: 0;
        right: 0;
        padding: 0.75rem;
        font-size: 1.3rem;
        transition: all 0.5s;
        cursor: pointer;
        &:hover {
            color: #d3d3d3;
            transition: all 0.3s;
        }
    }

    .mobile-images {
        display: none;
        @media only screen and (max-width: 720px) {
            display: flex;
            .carousel-root {
                position: relative;
                height: 70vh;
                width: 100vw;
                overflow: hidden;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                background: rgba(20, 20, 20, 0.842);
                .carousel {
                    display: none;
                }
                .carousel-slider {
                    padding: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .slider-wrapper {
                        padding: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .img {
                            width: 90%;
                            max-height: 65vh;
                            object-fit: contain;
                            cursor: pointer;
                        }
                    }
                }
                .slider .animated {
                    display: none;
                }

                .carousel-status,
                .control-dots,
                .thumbs-wrapper {
                    display: none;
                }
            }
        }
    }
}
 */
.images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  padding: clamp(1rem, 10vw, 20rem);
  grid-auto-rows: auto;
}

.images img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  padding: .5rem;
  cursor: pointer;
}

.carousel-root {
  z-index: 40;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(20, 20, 20, 0.842);
}

.carousel-root .carousel {
  display: none;
}

.carousel-root .carousel-slider {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.carousel-root .carousel-slider .slider-wrapper {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.carousel-root .carousel-slider .slider-wrapper .img {
  height: 90vh;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}

.carousel-root .slider .animated {
  display: none;
}

.carousel-root .carousel-status,
.carousel-root .control-dots,
.carousel-root .thumbs-wrapper {
  display: none;
}

.fa-times {
  color: #858585;
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  padding: 0.75rem;
  font-size: 1.3rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

.fa-times:hover {
  color: #d3d3d3;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 80vw;
  margin: auto;
}

.about .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
  padding: 3rem 0;
}

@media only screen and (max-width: 755px) {
  .about .bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
  }
}

.about .bottom .text p {
  margin: 0 0 0.75rem 0;
  font-weight: bold;
}

.about .bottom .own-portriat {
  width: clamp(15rem, 20vw, 40rem);
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

@media only screen and (max-width: 755px) {
  .about .bottom .own-portriat {
    width: clamp(14rem, 23vw, 45rem);
  }
}

.socials {
  display: -ms-grid;
  display: grid;
  place-items: center;
  min-height: 25vh;
  padding: 2rem 0;
  margin: 1rem 0 0 0;
}

.partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
}

.partners .cegek {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20rem;
  margin: 1rem 0 0 0;
}

.partners .cegek .ceg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.partners .cegek .ceg:nth-child(2) {
  position: relative;
  left: 70px;
}

.partners .cegek img {
  height: 6rem;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.email {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.email h1 {
  padding: 0 0 2rem 0;
}

.email form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(40vw + 3.5rem);
  min-height: 50vh;
  gap: 1rem;
}

@media only screen and (max-width: 1050px) {
  .email form {
    width: calc(80vw + 3.5rem);
  }
}

.email form input,
.email form textarea {
  width: 80%;
  height: 5vh;
  border-radius: 5px;
  outline: none;
  border: none;
  -webkit-box-shadow: 0 0 0 1px #fff;
          box-shadow: 0 0 0 1px #fff;
  padding: 0.5rem;
  background: var(--white);
  color: #000;
}

.email form input:focus,
.email form textarea:focus {
  -webkit-box-shadow: 0 0 0 2px var(--third);
          box-shadow: 0 0 0 2px var(--third);
}

.email form textarea {
  resize: none;
  min-height: 20vh;
  line-height: 25px;
  background: var(--white);
}

.email form button {
  cursor: pointer;
  font-size: clamp(1rem, 4vw, 1.3rem);
  background: var(--white);
  color: var(--black);
  border: 2px solid #fff;
  padding: 0.8rem 1.3rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
  -webkit-transition: font-weight 0.3s;
  transition: font-weight 0.3s;
}

.email form button:hover {
  -webkit-transition: font-weight 0.3s;
  transition: font-weight 0.3s;
  font-weight: bold;
}

.email form button:hover::after {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transform: skewX(-45deg) scale(1, 1);
          transform: skewX(-45deg) scale(1, 1);
}
/*# sourceMappingURL=Main.css.map */