.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 80vw;
    margin: auto;
    .bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        padding: 4rem 0;
        @media only screen and (max-width: 1024px) {
            flex-direction: column;
            gap: 2rem;
            margin: 0 0 5rem 0;
        }
        .text {
            p {
                line-height: 30px;
                margin: 0 0 0.75rem 0;
                font-weight: bold;
                font-size: clamp(.8rem, 2vw, 1rem);
            }
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .hr{
                width: 85%;
                margin: 0 auto;
                background-color: #fafafa;
                height: 1px;
                margin:0 0 13px 0;
            }
        }
        .own-portrait {
            width: clamp(17rem, 20vw, 35rem);
            height: auto;
            object-fit: contain;
            border-radius: 20px;
        }
    }
}
