.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 80vw;
    margin: auto;
    .bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        padding: 4rem 0;
        @media only screen and (max-width: 1024px) {
            flex-direction: column;
            gap: 2rem;
            margin: 0 0 5rem 0;
        }
        .text {
            p {
                line-height: 30px;
                margin: 0 0 0.75rem 0;
                font-weight: bold;
                font-size: clamp(.8rem, 2vw, 1rem);
            }
            hr{
                height: 1px;
                color: rgba(102, 102, 102, 0.815);
                margin: 1rem 0 1rem 0;
            }
        }
        .own-portrait {
            width: clamp(20rem, 20vw, 35rem);
            height: auto;
            object-fit: contain;
        }
    }
}
