.nav {
    transition: all 0.3s ease;
    min-height: 11vh;
    display: grid;
    grid-template-columns: 5% auto auto 5%;
    grid-template-areas: ". logo links .";
    align-items: center;
    box-shadow: 0 3px 6px -2px var(--black);
    position: sticky;
    top: 0;
    z-index: 4;
    color: var(--white);
    padding:2rem 0 0 0;
    @media only screen and (max-width: 850px) {
        grid-template-columns: 1em auto 1fr auto 1em;
        grid-template-areas: ". logo . menu-icon .";
    }
    .logo{
        grid-area: logo;
        margin:0 auto 0 0;
        img{
            cursor: pointer;
            width: 9rem;
        }
    }
    .nav-menu {
        grid-area: links;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 25px;
        position: relative;
        .nav-link {
            cursor: pointer;
            display: flex;
            align-items: center;
            font-size: clamp(1rem, 4vw, 1.2rem);
            transition: border-bottom 0.1s ease-in-out;
            &:hover {
                transition: border-bottom 0.1s ease-in-out;
                border-bottom: 3px solid #eee;
            }
        }
        @media only screen and (max-width: 850px) {
            opacity: 1;
            height: 54vh;
            width: 100vw;
            top: 0;
            position: fixed;
            flex-direction: column;
            justify-content: center;
            gap: 0;
            padding: 100px 0;
            left: -1000px;
            background-color: #363636f3;
            transition: all 0.2s ease-in-out;
            .nav-link {
                display: flex;
                justify-content: center;
                margin:1rem 0;
                &:hover {
                    border: none;
                }
            }
        }
    }
    .active {
        opacity: 1;
        left: 0;
        transition: left 0.2s ease-in-out;
    }
    .menu-icon {
        cursor: pointer;
        z-index: 5;
        display: none;
        font-size: 30px;
        grid-area: menu-icon;
        position: relative;
        top: 0;
        right:20px;
        @media only screen and (max-width: 850px) {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            top:0;
        }
    }
}