.nav {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  min-height: 11vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% auto auto 5%;
      grid-template-columns: 5% auto auto 5%;
      grid-template-areas: ". logo links .";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 3px 6px -2px var(--black);
          box-shadow: 0 3px 6px -2px var(--black);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 4;
  color: var(--white);
  padding: 2rem 0 0 0;
}

@media only screen and (max-width: 850px) {
  .nav {
    -ms-grid-columns: 1em auto 1fr auto 1em;
        grid-template-columns: 1em auto 1fr auto 1em;
        grid-template-areas: ". logo . menu-icon .";
  }
}

.nav .logo {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: logo;
  margin: 0 auto 0 0;
}

.nav .logo img {
  cursor: pointer;
  width: 9rem;
}

.nav .nav-menu {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: links;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  position: relative;
}

.nav .nav-menu .nav-link {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: clamp(1rem, 4vw, 1.2rem);
  -webkit-transition: border-bottom 0.1s ease-in-out;
  transition: border-bottom 0.1s ease-in-out;
}

.nav .nav-menu .nav-link:hover {
  -webkit-transition: border-bottom 0.1s ease-in-out;
  transition: border-bottom 0.1s ease-in-out;
  border-bottom: 3px solid #eee;
}

@media only screen and (max-width: 850px) {
  .nav .nav-menu {
    opacity: 1;
    height: 54vh;
    width: 100vw;
    top: 0;
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 0;
    padding: 100px 0;
    left: -1000px;
    background-color: #363636f3;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .nav .nav-menu .nav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 1rem 0;
  }
  .nav .nav-menu .nav-link:hover {
    border: none;
  }
}

.nav .active {
  opacity: 1;
  left: 0;
  -webkit-transition: left 0.2s ease-in-out;
  transition: left 0.2s ease-in-out;
}

.nav .menu-icon {
  cursor: pointer;
  z-index: 5;
  display: none;
  font-size: 30px;
  grid-area: menu-icon;
  position: relative;
  top: 0;
  right: 20px;
}

@media only screen and (max-width: 850px) {
  .nav .menu-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
  }
}
/*# sourceMappingURL=Nav.css.map */