.nav {
    height: 10vh;
    img {
        height: 8vh;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 7rem;
    align-items: center;
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 5rem;
        li {
            list-style: none;
            a {
                text-decoration: none;
                transition: color 0.3s;
                &:hover {
                    transition: color 0.3s;
                    color:white;
                }
            }
        }
    }
}
